body{
    height: 100vh;
    margin:0;
    background-color: white;
}
.consumer-page{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin : 50px 100px;  
}
.consumer-page > header{
    width:100%;
    box-sizing: border-box;
    padding : 0 130px;
    display: flex;
    justify-content: space-between;
    align-items : center;   
}
 .search{
    height: 40px;
    width: 300px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}
.search > input{
    font-size: 12px;
    border: 0;
    text-align: left;
    padding : 5px;
    width: 225px;
    outline: none;
    align-content: center;
}
.search > button{
    cursor : pointer;
    font-size : 1.25rem;
    align-content : center;
    border:0;
    background-color : transparent;
    color: black;
    outline:none;
    padding : 10px;
}
.login-signup > a{
    text-decoration: none;
    font-size: 14px;  
    color : black;
    margin : 0 10px;
}
hr{
    width : 100%;
    border-bottom : 0;
    color : gray;
}
section{
    display: flex;
    flex-grow : 1;
}
.consumer{
    display : flex;
    flex-direction: column;
}
.category > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style : none;
    padding : 0 40px;
}
.category-item > a{
    text-decoration: none;
    color : black;
    box-sizing: border-box;
    padding : 10px 12px 9px;
}
article{
    display: flex;
    flex-direction : column;
    align-items: center;
}
.map{
    border : 1px solid lightgray;
    width : 700px;
    height : 300px;
    text-align: center;
    margin: 10px;
}
.anything{
    border : 1px solid lightgray;
    width : 700px;
    height : 300px;
    text-align: center;
    margin : 10px;
}
footer{
	margin : 0 auto;
	padding : 20px 0;
	width: 100%;	
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.copyright{
    font-size : 10pt;
    color : gray;
    padding : 0 20px;
}